.main {
	background: #f7f6fb;
}
.main-content {
	background: #ffffff;
}
.main-header {
	height: 170upx;
	width: 100%;
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 999;
	top: 0upx;
}
.swiper {
	margin-top: 40upx;
	height: 400upx;
}

.main-project {
	padding-top: 60upx;
}
.main-score {
	background: #d8d8d8;
	border-radius: 20upx;
	font-size: 18upx;
	padding-left: 20upx;
	padding-right: 20upx;
	margin: 10upx;
}
.main-message {
	padding-top: 80upx;
}
.main-message-icon {
	width: 40upx;
	height: 40upx;
}
.main-banner {
	height: 200upx;
	width: 100%;
}
.main-btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #ffffff;
	margin-top: 240upx;
}
.main-fct-btn {
	height: 160upx;
	border-radius: 10upx;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-grad-8 {
	margin-top: 20upx;
}
.main-notice {
	display: flex;
}
.main-notice image {
	height: 140upx;
	width: 140upx;
}
.empty-notice {
	line-height: 140upx;
	color: #888888;
}
.image {
	width: 80upx;
	height: 80upx;
}

.text {
	font-size: 26upx;
	margin-top: 10upx;
}
.main-service {
	margin-top: 20upx;
	border-radius: 10upx;
	background: #ffffff;
}
.main-service .title {
	line-height: 100upx;
	font-size: 30upx;
	font-weight: bold;
	padding-left: 20upx;
}
.user-list {
}
.user-list-cell {
	display: flex;
	justify-content: space-between;
	height: 100upx;
	margin: 20upx;
}
.user-list-cell-right {
	line-height: 80upx;
	text-align: right;
}
.user-list-cell-right .text {
	background: #fcf5e5;
	color: #db9444;
	padding: 10upx 20upx 10upx;
	border-radius: 30upx;
}
.mark {
	font-size: 24upx;
	color: #999999;
}
.main-topic {
	margin-top: 40upx;
	border-radius: 10upx;
	background: #ffffff;
}

.update-card{
	position: fixed;
	height: 100%;
	width: 100%;
	
}

.housekeeper{
	height: 180upx;
	background: #FFFFFF;
	border-radius: 10upx;
}
.housekeeper-header{
	height: 120upx;
	width: 120upx;
	border-radius: 50%;
}
.housekeeper-btn{
	height: 70upx;
	width: 160upx;
	line-height: 70upx;
	background: #FFFFFF;
	border: 2upx solid #ffc392;
	border-radius: 50upx;
	color: #ff972a;
	font-size: 24upx;
	text-align: center;
}
.pop_btn{
	border: none;
}